<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>The Quotable Moose</title>
</head>
<body>

<h1>Moose Quotes on Demand!</h1>
<h3>(but don't demand just yet)</h3>


    <div id="quote-container"></div>
    <br />
    <button onclick="mooseQuoteFill()">Get Quote!</button>

</body>
<script>
    console.log("All I want for Christmas is a moose.");


    function mooseQuoteFill() {
        document.getElementById("quote-container").innerHTML = "No quotes for you!"
    }

</script>
</html>